/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(https://images.squarespace-cdn.com/content/v1/53c219e5e4b0fb85d418a90d/1502566191195-X12H9MNDME3CHCEOUNBK/LetsMakeADeal_HD_BG.png?format=2500w);
  background-size: cover;
  background-position: center;
}
